### Housing Analysis

In this notebook, you will be replicating much of what you saw in this lesson using the housing data shown below.

After you complete this notebook and the set of quizzes that follow, you will be set to try out your skills on a couple new datasets to gain some additional practice.  **Ignore the warning message**.

In [1]:
import numpy as np
import pandas as pd
import statsmodels.api as sm;

df = pd.read_csv('./house_price_area_only.csv')
df.head()

     price  area
0   598291  1188
1  1744259  3512
2   571669  1134
3   493675  1940
4  1101539  2208

`1.` Use the documentation [here](http://www.statsmodels.org/dev/regression.html) and the **statsmodels** library to fit a linear model to predict **price** based on **area**.  Obtain a summary of the results, and use them to answer the following quiz questions. Don't forget to add an intercept.

In [3]:
df['intercept'] = 1
df.head()

     price  area  intercept
0   598291  1188          1
1  1744259  3512          1
2   571669  1134          1
3   493675  1940          1
4  1101539  2208          1

In [5]:
mod = sm.OLS(df['price'], df[['area', 'intercept']])
res = mod.fit()

print(res.summary())

OLS Regression Results
==============================================================================
Dep. Variable:                  price   R-squared:                       0.678
Model:                            OLS   Adj. R-squared:                  0.678
Method:                 Least Squares   F-statistic:                 1.269e+04
Date:                Thu, 16 Apr 2020   Prob (F-statistic):               0.00
Time:                        22:02:55   Log-Likelihood:                -84517.
No. Observations:                6028   AIC:                         1.690e+05
Df Residuals:                    6026   BIC:                         1.691e+05
Df Model:                           1
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
area         348.4664      3.093    112.662      0.000     342.403     354.530
intercept   9587.8878   7637.479      1.255      0.209   -5384.303    2.46e+04
==============================================================================
Omnibus:                      368.609   Durbin-Watson:                   2.007
Prob(Omnibus):                  0.000   Jarque-Bera (JB):              349.279
Skew:                           0.534   Prob(JB):                     1.43e-76
Kurtosis:                       2.499   Cond. No.                     4.93e+03
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 4.93e+03. This might indicate that there are
strong multicollinearity or other numerical problems.

In [6]:
df[['area', 'intercept']]

      area  intercept
0     1188          1
1     3512          1
2     1134          1
3     1940          1
4     2208          1
...    ...        ...
6023   757          1
6024  3540          1
6025  1518          1
6026  2270          1
6027  3355          1

[6028 rows x 2 columns]