In [1]:
%load_ext sql

In [2]:
%sql postgresql://student:student@127.0.0.1/sparkifydb

In [11]:
%sql SELECT * FROM songplays ORDER BY song_id ASC LIMIT 5;

* postgresql://student:***@127.0.0.1/sparkifydb
5 rows affected.

[(2, datetime.datetime(2018, 11, 1, 21, 5, 52, 796000), 8, 'free', None, None, 139, 'Phoenix-Mesa-Scottsdale, AZ', '"Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/35.0.1916.153 Safari/537.36"'),
 (3, datetime.datetime(2018, 11, 1, 21, 8, 16, 796000), 8, 'free', None, None, 139, 'Phoenix-Mesa-Scottsdale, AZ', '"Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/35.0.1916.153 Safari/537.36"'),
 (4, datetime.datetime(2018, 11, 1, 21, 11, 13, 796000), 8, 'free', None, None, 139, 'Phoenix-Mesa-Scottsdale, AZ', '"Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/35.0.1916.153 Safari/537.36"'),
 (5, datetime.datetime(2018, 11, 1, 21, 17, 33, 796000), 8, 'free', None, None, 139, 'Phoenix-Mesa-Scottsdale, AZ', '"Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/35.0.1916.153 Safari/537.36"'),
 (1, datetime.datetime(2018, 11, 1, 21, 1, 46, 796000), 8, 'free', None, None, 139, 'Phoenix-Mesa-Scottsdale, AZ', '"Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/35.0.1916.153 Safari/537.36"')]

In [4]:
%sql SELECT * FROM users LIMIT 5;

* postgresql://student:***@127.0.0.1/sparkifydb
5 rows affected.

[(42, 'Harper', 'Barrett', 'M', 'paid'),
 (3, 'Isaac', 'Valdez', 'M', 'free'),
 (15, 'Lily', 'Koch', 'F', 'paid'),
 (97, 'Kate', 'Harrell', 'F', 'paid'),
 (2, 'Jizelle', 'Benjamin', 'F', 'free')]

In [5]:
%sql SELECT * FROM songs LIMIT 5;

* postgresql://student:***@127.0.0.1/sparkifydb
5 rows affected.

[('SOMZWCG12A8C13C480', "I Didn't Mean To", 'ARD7TVE1187B99BFB1', 0, 218.93179),
 ('SOCIWDW12A8C13D406', 'Soul Deep', 'ARMJAGH1187FB546F3', 1969, 148.03546),
 ('SOXVLOJ12AB0189215', 'Amor De Cabaret', 'ARKRRTF1187B9984DA', 0, 177.47546),
 ('SONHOTT12A8C13493C', 'Something Girls', 'AR7G5I41187FB4CE6C', 1982, 233.40363),
 ('SOFSOCN12A8C143F5D', 'Face the Ashes', 'ARXR32B1187FB57099', 2007, 209.60608)]

In [6]:
%sql SELECT * FROM artists LIMIT 5;

* postgresql://student:***@127.0.0.1/sparkifydb
5 rows affected.

[('ARL7K851187B99ACD2', 'Andy Andy', '', nan, nan),
 ('ARHHO3O1187B989413', 'Bob Azzam', '', nan, nan),
 ('AR3JMC51187B9AE49D', 'Backstreet Boys', 'Orlando, FL', 28.53823, -81.37739),
 ('ARMJAGH1187FB546F3', 'The Box Tops', 'Memphis, TN', 35.14968, -90.04892),
 ('ARKRRTF1187B9984DA', 'Sonora Santanera', '', nan, nan)]

In [7]:
%sql SELECT * FROM time LIMIT 5;

* postgresql://student:***@127.0.0.1/sparkifydb
5 rows affected.

[(datetime.datetime(2018, 11, 1, 21, 1, 46, 796000), 21, 1, 44, 11, 2018, 3),
 (datetime.datetime(2018, 11, 1, 21, 5, 52, 796000), 21, 1, 44, 11, 2018, 3),
 (datetime.datetime(2018, 11, 1, 21, 8, 16, 796000), 21, 1, 44, 11, 2018, 3),
 (datetime.datetime(2018, 11, 1, 21, 11, 13, 796000), 21, 1, 44, 11, 2018, 3),
 (datetime.datetime(2018, 11, 1, 21, 17, 33, 796000), 21, 1, 44, 11, 2018, 3)]

In [8]:
%sql SELECT a.name, s.title FROM artists a JOIN songs s ON a.artist_id = s.artist_id LIMIT 10;

* postgresql://student:***@127.0.0.1/sparkifydb
10 rows affected.

[('Casual', "I Didn't Mean To"),
 ('The Box Tops', 'Soul Deep'),
 ('Sonora Santanera', 'Amor De Cabaret'),
 ('Adam Ant', 'Something Girls'),
 ('Gob', 'Face the Ashes'),
 ('Jeff And Sheri Easter', 'The Moon And I (Ordinary Day Album Version)'),
 ('Rated R', 'Keepin It Real (Skit)'),
 ('Tweeterfriendly Music', 'Drop of Rain'),
 ('Planet P Project', 'Pink World'),
 ('Clp', 'Insatiable (Instrumental Version)')]

## REMEMBER: Restart this notebook to close connection to `sparkifydb`
Each time you run the cells above, remember to restart this notebook to close the connection to your database. Otherwise, you won't be able to run your code in `create_tables.py`, `etl.py`, or `etl.ipynb` files since you can't make multiple connections to the same database (in this case, sparkifydb).